header {
    text-align: center;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

#wallet {
    margin: 16px;
    width: 40vw;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black
}

.submit {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
}

.submit:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

table {
    margin-left: 16px;
    border: 2px solid black;
    font-size: 16px;
}